        *{
            transition: all 1s;      
            box-sizing: border-box;
            
        }
        body{
            text-align: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 0;
            padding: 0;
            user-select: none;
            background-color:rgb(44, 38, 38);
        }
        table{
            margin: auto;
            background:rgb(87, 97, 107)
        }
        td{
            border: rgba(0, 0, 0, 0.25) 1px solid;           
             text-align: center;
            font-size: 140;
            font-weight: bolder;
            color: white;
            box-shadow: inset 3px 3px 0 0 rgba(255, 255, 255, 0.5),
            inset -3px -3px 0 0 rgba(0, 0, 0, 0.5);
           
        }  
        
        #juego-nuevo,
        #minas,
        #ajustes {
          
            box-shadow: inset 3px 3px 0 0 rgba(255, 255, 255, 0.5),
            inset -3px -3px 0 0 rgba(0, 0, 0, 0.5);
           
            padding: 15px 20px; /* Aumenta el espacio interno */
            min-width: 100px;  /* Asegura un ancho mínimo */
            display: inline-block; /* Asegura que se alineen correctamente */
            text-align: center; /* Centra el texto */
        }   
        #juego-nuevo,
        #minas,
        #ajustes {
        
            margin: 20px;
            padding: 10px;
        }
        #juego-nuevo{
            background: cornflowerblue;
            font-weight: bolder;
            cursor: pointer; /*esto es para un dedo al pasarlo por  encima*/
         }
        #minas{
            background: rgb(173, 25, 25);
            color: black;
            font-weight: bolder;

        }
        #ajustes{
            background-color: aliceblue;
            cursor: pointer;
        }
        
        /**
  <!-- 
     en *{}
     El* indica que todos los elementos seran afectados
     transition sinifica como ocurren los cambios que cabiaran suavemente

     el padding es lo que esta entre el espacio que hay entre el cuadrro y el texto por dentro
     y el border es el grosor de los bordes  en general
     
     box-sizing: border-box;  esto sirve para que la caja o el cuadro no aumente su tamaño si le 
     doy un padding o un border es decir que si digo que la caja es de 250 px sera siempre sin importar 
     lo que le de para padding sin eso no se contara y la caja seguira creciendo haciendome imposible saber 
     cuando mide cada cosa
     
    en body
     user-select: none; significa que el usuario no puede selecionar el texto 

    en talbe
     margin auto lo manda para el centro
    --->
        
        */


          